{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "useTabs": true,
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed"
}
